<div class="boardDiv">
    <div *ngFor="let row of board">
        <div *ngFor="let tile of row" class="boardRow">
            <div *ngIf="tile.isWhiteTile" class="whiteTile">
                <div *ngIf="tile.piece">
                    <app-piece [color]="tile.piece.color" [piece]="tile.piece.type"></app-piece>
                </div>
            </div>
            <div *ngIf="!tile.isWhiteTile" class="blackTile">
                <div *ngIf="tile.piece">
                    <app-piece [color]="tile.piece.color" [piece]="tile.piece.type"></app-piece>
                </div>
            </div>
        </div>
    </div>
</div>
