<div class="boardDiv" cdkDropListGroup>
    <div *ngFor="let row of board">
        <div *ngFor="let tile of row" class="boardRow">
            <div
                cdkDropList
                class="whiteTile"
                *ngIf="tile.isWhiteTile" 
                [cdkDropListData]="tile"
                (cdkDropListDropped)="movePiece($event)">
                <app-piece 
                    *ngIf="tile.piece" 
                    [color]="tile.piece.color" 
                    [piece]="tile.piece.type" 
                    [isDraggable]="((tile.piece.color === playerColor) && isTurn)">
                </app-piece>
            </div>
            <div
                cdkDropList
                class="blackTile" 
                *ngIf="!tile.isWhiteTile" 
                [cdkDropListData]="tile"
                (cdkDropListDropped)="movePiece($event)">
                <app-piece 
                    *ngIf="tile.piece" 
                    [color]="tile.piece.color" 
                    [piece]="tile.piece.type" 
                    [isDraggable]="((tile.piece.color === playerColor) && isTurn)">
                </app-piece>
            </div>
        </div>
    </div>
    <div class="turnIndicator">
        <p *ngIf="!gameStarted">Waiting for opponent to join...</p>
        <p *ngIf="!isTurn && gameStarted">Opponent's turn</p>
        <p *ngIf="isTurn && gameStarted">Your turn</p>
    </div>
</div>
<div>
    <button mat-raised-button class="startButton" (click)="startGame()">Start Game</button>
</div>
