<div class="boardDiv" cdkDropListGroup>
    <div *ngFor="let row of board">
        <div *ngFor="let tile of row" class="boardRow">
            <div
                cdkDropList
                class="whiteTile"
                *ngIf="tile.isWhiteTile" 
                [cdkDropListData]="tile"
                (cdkDropListDropped)="movePiece($event)">
                <app-piece 
                    *ngIf="tile.piece" 
                    [color]="tile.piece.color" 
                    [piece]="tile.piece.type" 
                    [isDraggable]="tile.piece.isDraggable">
                </app-piece>
            </div>
            <div
                cdkDropList
                class="blackTile" 
                *ngIf="!tile.isWhiteTile" 
                [cdkDropListData]="tile"
                (cdkDropListDropped)="movePiece($event)">
                <app-piece 
                    *ngIf="tile.piece" 
                    [color]="tile.piece.color" 
                    [piece]="tile.piece.type" 
                    [isDraggable]="tile.piece.isDraggable">
                </app-piece>
            </div>
        </div>
    </div>
</div>
<div>
    <button mat-raised-button class="startButton" (click)="startGame()">Start Game</button>
</div>
